@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-PADQEx_KH0WP: 16px;
  --plasmic-token-h-2: var(--token-PADQEx_KH0WP);
  --token-GvK33nIR2HZX: #2a2b37;
  --plasmic-token-neutral-900: var(--token-GvK33nIR2HZX);
  --token-rpyXJly7sJ1j: #383848;
  --plasmic-token-neutral-800: var(--token-rpyXJly7sJ1j);
  --token-oWGbdSOvrKq9: #48485c;
  --plasmic-token-neutral-700: var(--token-oWGbdSOvrKq9);
  --token-LCxo8Et1Bb6A: #5c5d76;
  --plasmic-token-neutral-600: var(--token-LCxo8Et1Bb6A);
  --token-59gtz0AFayzd: #656682;
  --plasmic-token-neutral-500: var(--token-59gtz0AFayzd);
  --token-qgJAZoZ_4zkP: #84859b;
  --plasmic-token-neutral-400: var(--token-qgJAZoZ_4zkP);
  --token-xRXrMS9q51bk: #9898ab;
  --plasmic-token-neutral-300: var(--token-xRXrMS9q51bk);
  --token-vzX1hq9xL5o6: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-vzX1hq9xL5o6);
  --token-mZfi2iWYPSdg: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-mZfi2iWYPSdg);
  --token-JWpeigWW8jMR: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-JWpeigWW8jMR);
  --token-MToC37jTEE7Y: 14px;
  --plasmic-token-body-small: var(--token-MToC37jTEE7Y);
  --token-uW7SIjPpblVn: 20px;
  --plasmic-token-body-small-2: var(--token-uW7SIjPpblVn);
  --token--U4sr5YxXKnD: #01471e;
  --plasmic-token-success-text: var(--token--U4sr5YxXKnD);
  --token-slwHfT8yeoZr: #dffbea;
  --plasmic-token-success-bg: var(--token-slwHfT8yeoZr);
  --token-tiaySUhPnGix: #aff5cb;
  --plasmic-token-success-200: var(--token-tiaySUhPnGix);
  --token-N_AYRX2SRCd5: #87efb1;
  --plasmic-token-success-300: var(--token-N_AYRX2SRCd5);
  --token-otrd6fIOYC_w: #5fea97;
  --plasmic-token-success-400: var(--token-otrd6fIOYC_w);
  --token-pic-sSQqVVZ7: #37e57d;
  --plasmic-token-success-500: var(--token-pic-sSQqVVZ7);
  --token-iUwTI0Cn2IUu: #24bf63;
  --plasmic-token-success-600: var(--token-iUwTI0Cn2IUu);
  --token-lRQeymIA73tT: #159649;
  --plasmic-token-success-700: var(--token-lRQeymIA73tT);
  --token-60RLtEYYetb1: #096e32;
  --plasmic-token-success-800: var(--token-60RLtEYYetb1);
  --token-UhQHXSoQwWKO: #d7faf8;
  --plasmic-token-secondary-100: var(--token-UhQHXSoQwWKO);
  --token-arMm7v1Z-CGh: #aff5f0;
  --plasmic-token-secondary-200: var(--token-arMm7v1Z-CGh);
  --token-mo6QKhcRNxgM: #87efe8;
  --plasmic-token-secondary-300: var(--token-mo6QKhcRNxgM);
  --token-7LGtLisuB3gc: #5feae1;
  --plasmic-token-secondary-400: var(--token-7LGtLisuB3gc);
  --token-fHlmCbNEGMDH: #37e5db;
  --plasmic-token-secondary-500: var(--token-fHlmCbNEGMDH);
  --token-vk_7LkuE8AsI: #24bfb5;
  --plasmic-token-secondary-600: var(--token-vk_7LkuE8AsI);
  --token-Cj_wEVQQfG0S: #15968e;
  --plasmic-token-secondary-700: var(--token-Cj_wEVQQfG0S);
  --token-n6D6gLuXz8nv: #096e67;
  --plasmic-token-secondary-800: var(--token-n6D6gLuXz8nv);
  --token-W43U10wjabQd: #014743;
  --plasmic-token-secondary-900: var(--token-W43U10wjabQd);
  --token-RU2a18XpNRKe: #d8d8fa;
  --plasmic-token-primary-100: var(--token-RU2a18XpNRKe);
  --token-mtigJWUjWqA-: #b0b1f4;
  --plasmic-token-primary-200: var(--token-mtigJWUjWqA-);
  --token-BfgtnHtf1EUW: #898bef;
  --plasmic-token-primary-300: var(--token-BfgtnHtf1EUW);
  --token-fLjviNrLIgbi: #6164e9;
  --plasmic-token-primary-400: var(--token-fLjviNrLIgbi);
  --token-p-2xL-kub7LD: #3a3de4;
  --plasmic-token-primary-500: var(--token-p-2xL-kub7LD);
  --token-hnkvENZpv_g_: #2225bf;
  --plasmic-token-primary-600: var(--token-hnkvENZpv_g_);
  --token-YcXDeJkyBLpO: #141696;
  --plasmic-token-primary-700: var(--token-YcXDeJkyBLpO);
  --token-_qhuJ96_Yxj6: #08096e;
  --plasmic-token-primary-800: var(--token-_qhuJ96_Yxj6);
  --token-iuKCyv0gfTCI: #010347;
  --plasmic-token-primary-900: var(--token-iuKCyv0gfTCI);
  --token-cwQoN9MjbNnj: #f2f3fd;
  --plasmic-token-primary-050: var(--token-cwQoN9MjbNnj);
  --token-Q6k807aK5aNL: #faf6d7;
  --plasmic-token-warning-100: var(--token-Q6k807aK5aNL);
  --token-4v0tXgTWX8HN: #f5eeaf;
  --plasmic-token-warning-200: var(--token-4v0tXgTWX8HN);
  --token--P3GXdhdx0xD: #efe587;
  --plasmic-token-warning-300: var(--token--P3GXdhdx0xD);
  --token-y1QcLLkYBDs_: #eadd5f;
  --plasmic-token-warning-400: var(--token-y1QcLLkYBDs_);
  --token-UsHNZZ0VbPzs: #e5d437;
  --plasmic-token-warning-500: var(--token-UsHNZZ0VbPzs);
  --token-VpZvgAWj94Cx: #bfb024;
  --plasmic-token-warning-600: var(--token-VpZvgAWj94Cx);
  --token-i8II-5u_F8hH: #998c15;
  --plasmic-token-warning-700: var(--token-i8II-5u_F8hH);
  --token-Z3ruDQAkOQkZ: #6e6408;
  --plasmic-token-warning-800: var(--token-Z3ruDQAkOQkZ);
  --token-fwdT7ZVCYM9y: #383302;
  --plasmic-token-warning-900: var(--token-fwdT7ZVCYM9y);
  --token-UcJ-ZAiELvhq: #fad7d7;
  --plasmic-token-danger-100: var(--token-UcJ-ZAiELvhq);
  --token-AOQY00Vlkd25: #f18787;
  --plasmic-token-danger-300: var(--token-AOQY00Vlkd25);
  --token-X3d65ZSZCQaC: #f6afaf;
  --plasmic-token-danger-200: var(--token-X3d65ZSZCQaC);
  --token-_EN3BqP8JQkr: #ed6060;
  --plasmic-token-danger-400: var(--token-_EN3BqP8JQkr);
  --token-7fa0xH1epWZe: #e83838;
  --plasmic-token-danger-500: var(--token-7fa0xH1epWZe);
  --token-b-rDvMAmqcQs: #c22525;
  --plasmic-token-danger-600: var(--token-b-rDvMAmqcQs);
  --token-XrkTIE7-awNI: #9c1616;
  --plasmic-token-danger-700: var(--token-XrkTIE7-awNI);
  --token-_-y7auzxNq5o: #6b0707;
  --plasmic-token-danger-800: var(--token-_-y7auzxNq5o);
  --token-U4b1tPG_g0jo: #360202;
  --plasmic-token-danger-900: var(--token-U4b1tPG_g0jo);
  --token-VVrw8EhihIuC: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-VVrw8EhihIuC);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-FAUd6Q7Y5dcB_font-family: "Inter", sans-serif;
  --mixin-FAUd6Q7Y5dcB_font-size: 14px;
  --mixin-FAUd6Q7Y5dcB_font-weight: 400;
  --mixin-FAUd6Q7Y5dcB_font-style: normal;
  --mixin-FAUd6Q7Y5dcB_color: var(--token-xRXrMS9q51bk);
  --mixin-FAUd6Q7Y5dcB_text-align: left;
  --mixin-FAUd6Q7Y5dcB_text-transform: none;
  --mixin-FAUd6Q7Y5dcB_line-height: 21px;
  --mixin-FAUd6Q7Y5dcB_letter-spacing: -0.6%;
  --mixin-FAUd6Q7Y5dcB_white-space: pre-wrap;
  --mixin-FAUd6Q7Y5dcB_user-select: text;
  --mixin-FAUd6Q7Y5dcB_text-decoration-line: none;
  --mixin-FAUd6Q7Y5dcB_text-overflow: clip;
  --mixin-Mm1BbeZQ3LsO_color: var(--token-GvK33nIR2HZX);
  --mixin-Mm1BbeZQ3LsO_font-weight: 600;
  --mixin-Mm1BbeZQ3LsO_font-size: 26px;
  --mixin-Mm1BbeZQ3LsO_line-height: 32px;
  --mixin-Mm1BbeZQ3LsO_letter-spacing: -1%;
  --mixin-Mm1BbeZQ3LsO_white-space: pre-wrap;
  --mixin-c5pW4PDUESJU_color: var(--token-GvK33nIR2HZX);
  --mixin-c5pW4PDUESJU_font-size: 23px;
  --mixin-c5pW4PDUESJU_font-weight: 700;
  --mixin-c5pW4PDUESJU_line-height: 28px;
  --mixin-c5pW4PDUESJU_font-family: "Inter", sans-serif;
  --mixin-c5pW4PDUESJU_letter-spacing: -1%;
  --mixin-c5pW4PDUESJU_white-space: pre-wrap;
  --mixin-1U-p6bJ-T-j3_color: #0070f3;
  --mixin-1U-p6bJ-T-j3_white-space: pre-wrap;
  --mixin-X5H17IpXWMtu_color: var(--token-GvK33nIR2HZX);
  --mixin-X5H17IpXWMtu_font-size: 20px;
  --mixin-X5H17IpXWMtu_font-weight: 700;
  --mixin-X5H17IpXWMtu_line-height: 24px;
  --mixin-X5H17IpXWMtu_letter-spacing: -1%;
  --mixin-X5H17IpXWMtu_font-family: "Inter", sans-serif;
  --mixin-X5H17IpXWMtu_white-space: pre-wrap;
  --mixin-sO0_ITYuld9s_color: var(--token-GvK33nIR2HZX);
  --mixin-sO0_ITYuld9s_font-size: 18px;
  --mixin-sO0_ITYuld9s_font-weight: 700;
  --mixin-sO0_ITYuld9s_line-height: 24px;
  --mixin-sO0_ITYuld9s_letter-spacing: -1%;
  --mixin-sO0_ITYuld9s_font-family: "Inter", sans-serif;
  --mixin-sO0_ITYuld9s_white-space: pre-wrap;
  --mixin-4kjRXd4HgYUk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4kjRXd4HgYUk_border-bottom-color: #dddddd;
  --mixin-4kjRXd4HgYUk_border-bottom-style: solid;
  --mixin-4kjRXd4HgYUk_border-bottom-width: 1px;
  --mixin-4kjRXd4HgYUk_border-left-color: #dddddd;
  --mixin-4kjRXd4HgYUk_border-left-style: solid;
  --mixin-4kjRXd4HgYUk_border-left-width: 1px;
  --mixin-4kjRXd4HgYUk_border-right-color: #dddddd;
  --mixin-4kjRXd4HgYUk_border-right-style: solid;
  --mixin-4kjRXd4HgYUk_border-right-width: 1px;
  --mixin-4kjRXd4HgYUk_border-top-color: #dddddd;
  --mixin-4kjRXd4HgYUk_border-top-style: solid;
  --mixin-4kjRXd4HgYUk_border-top-width: 1px;
  --mixin-4kjRXd4HgYUk_border-bottom-left-radius: 3px;
  --mixin-4kjRXd4HgYUk_border-bottom-right-radius: 3px;
  --mixin-4kjRXd4HgYUk_border-top-left-radius: 3px;
  --mixin-4kjRXd4HgYUk_border-top-right-radius: 3px;
  --mixin-4kjRXd4HgYUk_font-family: "Inconsolata";
  --mixin-4kjRXd4HgYUk_padding-bottom: 1px;
  --mixin-4kjRXd4HgYUk_padding-left: 4px;
  --mixin-4kjRXd4HgYUk_padding-right: 4px;
  --mixin-4kjRXd4HgYUk_padding-top: 1px;
  --mixin-4kjRXd4HgYUk_white-space: pre-wrap;
  --mixin-XPs09t0BOCNk_border-left-color: #dddddd;
  --mixin-XPs09t0BOCNk_border-left-style: solid;
  --mixin-XPs09t0BOCNk_border-left-width: 3px;
  --mixin-XPs09t0BOCNk_color: #888888;
  --mixin-XPs09t0BOCNk_padding-left: 10px;
  --mixin-XPs09t0BOCNk_white-space: pre-wrap;
  --mixin--T3kMJO63OTk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--T3kMJO63OTk_border-bottom-color: #dddddd;
  --mixin--T3kMJO63OTk_border-bottom-style: solid;
  --mixin--T3kMJO63OTk_border-bottom-width: 1px;
  --mixin--T3kMJO63OTk_border-left-color: #dddddd;
  --mixin--T3kMJO63OTk_border-left-style: solid;
  --mixin--T3kMJO63OTk_border-left-width: 1px;
  --mixin--T3kMJO63OTk_border-right-color: #dddddd;
  --mixin--T3kMJO63OTk_border-right-style: solid;
  --mixin--T3kMJO63OTk_border-right-width: 1px;
  --mixin--T3kMJO63OTk_border-top-color: #dddddd;
  --mixin--T3kMJO63OTk_border-top-style: solid;
  --mixin--T3kMJO63OTk_border-top-width: 1px;
  --mixin--T3kMJO63OTk_border-bottom-left-radius: 3px;
  --mixin--T3kMJO63OTk_border-bottom-right-radius: 3px;
  --mixin--T3kMJO63OTk_border-top-left-radius: 3px;
  --mixin--T3kMJO63OTk_border-top-right-radius: 3px;
  --mixin--T3kMJO63OTk_font-family: "Inconsolata";
  --mixin--T3kMJO63OTk_padding-bottom: 3px;
  --mixin--T3kMJO63OTk_padding-left: 6px;
  --mixin--T3kMJO63OTk_padding-right: 6px;
  --mixin--T3kMJO63OTk_padding-top: 3px;
  --mixin--T3kMJO63OTk_white-space: pre-wrap;
  --mixin-m-rktNrF65ax_display: flex;
  --mixin-m-rktNrF65ax_flex-direction: column;
  --mixin-m-rktNrF65ax_align-items: stretch;
  --mixin-m-rktNrF65ax_justify-content: flex-start;
  --mixin-m-rktNrF65ax_list-style-position: outside;
  --mixin-m-rktNrF65ax_padding-left: 40px;
  --mixin-m-rktNrF65ax_position: relative;
  --mixin-m-rktNrF65ax_list-style-type: disc;
  --mixin-m-rktNrF65ax_white-space: pre-wrap;
  --mixin-DEPCkRFPEIvB_display: flex;
  --mixin-DEPCkRFPEIvB_flex-direction: column;
  --mixin-DEPCkRFPEIvB_align-items: stretch;
  --mixin-DEPCkRFPEIvB_justify-content: flex-start;
  --mixin-DEPCkRFPEIvB_list-style-position: outside;
  --mixin-DEPCkRFPEIvB_padding-left: 40px;
  --mixin-DEPCkRFPEIvB_position: relative;
  --mixin-DEPCkRFPEIvB_list-style-type: decimal;
  --mixin-DEPCkRFPEIvB_white-space: pre-wrap;
  --mixin-dUtx5u-a3iwi_color: var(--token-rpyXJly7sJ1j);
  --mixin-dUtx5u-a3iwi_font-size: 16px;
  --mixin-dUtx5u-a3iwi_font-weight: 600;
  --mixin-dUtx5u-a3iwi_line-height: 20px;
  --mixin-dUtx5u-a3iwi_letter-spacing: -1%;
  --mixin-dUtx5u-a3iwi_font-family: "Inter", sans-serif;
  --mixin-dUtx5u-a3iwi_white-space: pre-wrap;
  --mixin--wG6-kppobh5_color: var(--token-GvK33nIR2HZX);
  --mixin--wG6-kppobh5_font-size: 14px;
  --mixin--wG6-kppobh5_font-weight: 600;
  --mixin--wG6-kppobh5_line-height: 20px;
  --mixin--wG6-kppobh5_letter-spacing: 1%;
  --mixin--wG6-kppobh5_font-family: "Inter", sans-serif;
  --mixin--wG6-kppobh5_white-space: pre-wrap;
  --mixin-lP95gW21GnhN_color: #3291ff;
  --mixin-lP95gW21GnhN_white-space: pre-wrap;
  --mixin-zDcP0DoDGUI7_white-space: pre-wrap;
  --mixin-SuHVhFLYhlD6_color: var(--token-oWGbdSOvrKq9);
  --mixin-SuHVhFLYhlD6_font-family: "Inter", sans-serif;
  --mixin-SuHVhFLYhlD6_font-weight: 500;
  --mixin-SuHVhFLYhlD6_font-size: 16px;
  --mixin-SuHVhFLYhlD6_line-height: 24px;
  --mixin-SuHVhFLYhlD6_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-Lz-EN2OTiAPN_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-Lz-EN2OTiAPN_white-space);
  --mixin-5E72cJUR9-jM_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-5E72cJUR9-jM_white-space);
  --mixin-n-EPzbV0gtbw_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-n-EPzbV0gtbw_box-shadow);
  --mixin-n-EPzbV0gtbw_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-n-EPzbV0gtbw_white-space
  );
  --mixin-gafSCjIsz5gJ_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-gafSCjIsz5gJ_white-space);
  --mixin-jfXazPUuxfeC_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-jfXazPUuxfeC_white-space);
  --mixin-vmR6sE5qH1pg_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-vmR6sE5qH1pg_box-shadow
  );
  --mixin-vmR6sE5qH1pg_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-vmR6sE5qH1pg_white-space
  );
  --mixin-otulIga4yplU_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-otulIga4yplU_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-FAUd6Q7Y5dcB_font-family);
  font-size: var(--mixin-FAUd6Q7Y5dcB_font-size);
  font-weight: var(--mixin-FAUd6Q7Y5dcB_font-weight);
  font-style: var(--mixin-FAUd6Q7Y5dcB_font-style);
  color: var(--mixin-FAUd6Q7Y5dcB_color);
  text-align: var(--mixin-FAUd6Q7Y5dcB_text-align);
  text-transform: var(--mixin-FAUd6Q7Y5dcB_text-transform);
  line-height: var(--mixin-FAUd6Q7Y5dcB_line-height);
  letter-spacing: var(--mixin-FAUd6Q7Y5dcB_letter-spacing);
  white-space: var(--mixin-FAUd6Q7Y5dcB_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-Mm1BbeZQ3LsO_color);
  font-weight: var(--mixin-Mm1BbeZQ3LsO_font-weight);
  font-size: var(--mixin-Mm1BbeZQ3LsO_font-size);
  line-height: var(--mixin-Mm1BbeZQ3LsO_line-height);
  letter-spacing: var(--mixin-Mm1BbeZQ3LsO_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-c5pW4PDUESJU_color);
  font-size: var(--mixin-c5pW4PDUESJU_font-size);
  font-weight: var(--mixin-c5pW4PDUESJU_font-weight);
  line-height: var(--mixin-c5pW4PDUESJU_line-height);
  font-family: var(--mixin-c5pW4PDUESJU_font-family);
  letter-spacing: var(--mixin-c5pW4PDUESJU_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-1U-p6bJ-T-j3_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-X5H17IpXWMtu_color);
  font-size: var(--mixin-X5H17IpXWMtu_font-size);
  font-weight: var(--mixin-X5H17IpXWMtu_font-weight);
  line-height: var(--mixin-X5H17IpXWMtu_line-height);
  letter-spacing: var(--mixin-X5H17IpXWMtu_letter-spacing);
  font-family: var(--mixin-X5H17IpXWMtu_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-sO0_ITYuld9s_color);
  font-size: var(--mixin-sO0_ITYuld9s_font-size);
  font-weight: var(--mixin-sO0_ITYuld9s_font-weight);
  line-height: var(--mixin-sO0_ITYuld9s_line-height);
  letter-spacing: var(--mixin-sO0_ITYuld9s_letter-spacing);
  font-family: var(--mixin-sO0_ITYuld9s_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4kjRXd4HgYUk_font-family);
  border-radius: var(--mixin-4kjRXd4HgYUk_border-top-left-radius)
    var(--mixin-4kjRXd4HgYUk_border-top-right-radius)
    var(--mixin-4kjRXd4HgYUk_border-bottom-right-radius)
    var(--mixin-4kjRXd4HgYUk_border-bottom-left-radius);
  padding: var(--mixin-4kjRXd4HgYUk_padding-top)
    var(--mixin-4kjRXd4HgYUk_padding-right)
    var(--mixin-4kjRXd4HgYUk_padding-bottom)
    var(--mixin-4kjRXd4HgYUk_padding-left);
  border-top: var(--mixin-4kjRXd4HgYUk_border-top-width)
    var(--mixin-4kjRXd4HgYUk_border-top-style)
    var(--mixin-4kjRXd4HgYUk_border-top-color);
  border-right: var(--mixin-4kjRXd4HgYUk_border-right-width)
    var(--mixin-4kjRXd4HgYUk_border-right-style)
    var(--mixin-4kjRXd4HgYUk_border-right-color);
  border-bottom: var(--mixin-4kjRXd4HgYUk_border-bottom-width)
    var(--mixin-4kjRXd4HgYUk_border-bottom-style)
    var(--mixin-4kjRXd4HgYUk_border-bottom-color);
  border-left: var(--mixin-4kjRXd4HgYUk_border-left-width)
    var(--mixin-4kjRXd4HgYUk_border-left-style)
    var(--mixin-4kjRXd4HgYUk_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-XPs09t0BOCNk_color);
  padding-left: var(--mixin-XPs09t0BOCNk_padding-left);
  border-left: var(--mixin-XPs09t0BOCNk_border-left-width)
    var(--mixin-XPs09t0BOCNk_border-left-style)
    var(--mixin-XPs09t0BOCNk_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--T3kMJO63OTk_font-family);
  border-radius: var(--mixin--T3kMJO63OTk_border-top-left-radius)
    var(--mixin--T3kMJO63OTk_border-top-right-radius)
    var(--mixin--T3kMJO63OTk_border-bottom-right-radius)
    var(--mixin--T3kMJO63OTk_border-bottom-left-radius);
  padding: var(--mixin--T3kMJO63OTk_padding-top)
    var(--mixin--T3kMJO63OTk_padding-right)
    var(--mixin--T3kMJO63OTk_padding-bottom)
    var(--mixin--T3kMJO63OTk_padding-left);
  border-top: var(--mixin--T3kMJO63OTk_border-top-width)
    var(--mixin--T3kMJO63OTk_border-top-style)
    var(--mixin--T3kMJO63OTk_border-top-color);
  border-right: var(--mixin--T3kMJO63OTk_border-right-width)
    var(--mixin--T3kMJO63OTk_border-right-style)
    var(--mixin--T3kMJO63OTk_border-right-color);
  border-bottom: var(--mixin--T3kMJO63OTk_border-bottom-width)
    var(--mixin--T3kMJO63OTk_border-bottom-style)
    var(--mixin--T3kMJO63OTk_border-bottom-color);
  border-left: var(--mixin--T3kMJO63OTk_border-left-width)
    var(--mixin--T3kMJO63OTk_border-left-style)
    var(--mixin--T3kMJO63OTk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-m-rktNrF65ax_display);
  flex-direction: var(--mixin-m-rktNrF65ax_flex-direction);
  align-items: var(--mixin-m-rktNrF65ax_align-items);
  justify-content: var(--mixin-m-rktNrF65ax_justify-content);
  list-style-position: var(--mixin-m-rktNrF65ax_list-style-position);
  padding-left: var(--mixin-m-rktNrF65ax_padding-left);
  position: var(--mixin-m-rktNrF65ax_position);
  list-style-type: var(--mixin-m-rktNrF65ax_list-style-type);
  flex-column-gap: var(--mixin-m-rktNrF65ax_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-DEPCkRFPEIvB_display);
  flex-direction: var(--mixin-DEPCkRFPEIvB_flex-direction);
  align-items: var(--mixin-DEPCkRFPEIvB_align-items);
  justify-content: var(--mixin-DEPCkRFPEIvB_justify-content);
  list-style-position: var(--mixin-DEPCkRFPEIvB_list-style-position);
  padding-left: var(--mixin-DEPCkRFPEIvB_padding-left);
  position: var(--mixin-DEPCkRFPEIvB_position);
  list-style-type: var(--mixin-DEPCkRFPEIvB_list-style-type);
  flex-column-gap: var(--mixin-DEPCkRFPEIvB_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-dUtx5u-a3iwi_color);
  font-size: var(--mixin-dUtx5u-a3iwi_font-size);
  font-weight: var(--mixin-dUtx5u-a3iwi_font-weight);
  line-height: var(--mixin-dUtx5u-a3iwi_line-height);
  letter-spacing: var(--mixin-dUtx5u-a3iwi_letter-spacing);
  font-family: var(--mixin-dUtx5u-a3iwi_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin--wG6-kppobh5_color);
  font-size: var(--mixin--wG6-kppobh5_font-size);
  font-weight: var(--mixin--wG6-kppobh5_font-weight);
  line-height: var(--mixin--wG6-kppobh5_line-height);
  letter-spacing: var(--mixin--wG6-kppobh5_letter-spacing);
  font-family: var(--mixin--wG6-kppobh5_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-lP95gW21GnhN_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-SuHVhFLYhlD6_color);
  font-family: var(--mixin-SuHVhFLYhlD6_font-family);
  font-weight: var(--mixin-SuHVhFLYhlD6_font-weight);
  font-size: var(--mixin-SuHVhFLYhlD6_font-size);
  line-height: var(--mixin-SuHVhFLYhlD6_line-height);
}
