.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-JWpeigWW8jMR);
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section__vy4Cg {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.section__vy4Cg > * {
  grid-column: 4;
}
.freeBox__rNjVt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.section__pH5AM {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 12px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 24px 0 0px;
}
.section__pH5AM > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__pH5AM > * {
    grid-column: 4;
  }
}
.freeBox__t7Dln {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-VVrw8EhihIuC);
  min-width: 0;
  border-radius: 8px;
  padding: 8px 16px;
}
.freeBox__rwOz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__t4FTt {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  height: auto;
  width: auto;
}
.freeBox__uAcz6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.freeBox__uAcz6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__uAcz6 > :global(.__wab_flex-container) > *,
.freeBox__uAcz6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAcz6 > :global(.__wab_flex-container) > picture > img,
.freeBox__uAcz6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.start:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.end:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__mk3Js {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-self: flex-start;
  min-width: 0;
  padding: 0px;
}
.freeBox__mk3Js > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__mk3Js > :global(.__wab_flex-container) > *,
.freeBox__mk3Js > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mk3Js > :global(.__wab_flex-container) > picture > img,
.freeBox__mk3Js
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mk3Js {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mk3Js > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mk3Js > :global(.__wab_flex-container) > *,
  .freeBox__mk3Js > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mk3Js > :global(.__wab_flex-container) > picture > img,
  .freeBox__mk3Js
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.statistic__hmFVe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__pa8Yf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__frBR {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__lvKM {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__lvKM > picture > img {
  object-fit: cover;
}
.h2__jsUot {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  position: relative;
  color: #000000;
  font-weight: 700;
  min-width: 0;
  padding: 0px;
}
.statistic__adsQg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox__zpTu8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__whqjA {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__aadj0 {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__aadj0 > picture > img {
  object-fit: cover;
}
.h2__c8VcW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  min-width: 0;
  padding: 0px;
}
.statistic__z4HRo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
.freeBox___0F6V5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-bottom: 20px;
  min-width: 0;
  padding: 0px;
}
.text__oxJt {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__mdvNp {
  position: relative;
  object-fit: cover;
  max-width: 24px;
  max-height: 24px;
}
.img__mdvNp > picture > img {
  object-fit: cover;
}
.freeBox__skSzt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__edjn3 {
  height: auto;
  max-width: 100%;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  width: auto;
}
.section__temPy {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 16px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 16px 0 8px;
}
.section__temPy > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section__temPy > * {
    grid-column: 4;
  }
}
.freeBox__ly9Iw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__ly9Iw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ly9Iw > :global(.__wab_flex-container) > *,
.freeBox__ly9Iw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ly9Iw > :global(.__wab_flex-container) > picture > img,
.freeBox__ly9Iw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__mTwr {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__yotsu {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  padding-right: 0px;
}
.select:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.chart___0SueG:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
.section__uvJfb {
  display: grid;
  position: relative;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  grid-row-gap: 48px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px 0 0px;
}
.section__uvJfb > * {
  grid-column: 4;
}
.freeBox__jeb1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  border-radius: 12px;
  padding: 16px 24px;
  border: 1px solid #eff0f6;
}
.freeBox__jeb1Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jeb1Z > :global(.__wab_flex-container) > *,
.freeBox__jeb1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jeb1Z > :global(.__wab_flex-container) > picture > img,
.freeBox__jeb1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__oxceq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__fh2Gl {
  color: var(--token-rpyXJly7sJ1j);
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -1.1%;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.chart__xjt7:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
}
