.root {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.pageLayout:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.section {
  display: grid;
  align-content: flex-start;
  justify-items: center;
  width: 100%;
  padding-left: 8px;
  padding-right: 8px;
  grid-row-gap: 24px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
}
.section > * {
  grid-column: 4;
}
.freeBox__j7Jk {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
.freeBox__j7Jk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__j7Jk > :global(.__wab_flex-container) > *,
.freeBox__j7Jk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j7Jk > :global(.__wab_flex-container) > picture > img,
.freeBox__j7Jk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j7Jk {
    padding: 24px;
  }
}
.freeBox__snI4B {
  position: relative;
  background: var(--token-NPlXTcG3C1iV);
  flex-direction: column;
  width: 100%;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-Z2B_i9iprmSr);
}
.freeBox__snI4B > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__snI4B > :global(.__wab_flex-container) > *,
.freeBox__snI4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__snI4B > :global(.__wab_flex-container) > picture > img,
.freeBox__snI4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__kkMcT {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__kkMcT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__kkMcT > :global(.__wab_flex-container) > *,
.freeBox__kkMcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kkMcT > :global(.__wab_flex-container) > picture > img,
.freeBox__kkMcT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkMcT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkMcT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkMcT > :global(.__wab_flex-container) > *,
  .freeBox__kkMcT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kkMcT > :global(.__wab_flex-container) > picture > img,
  .freeBox__kkMcT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__xw03 {
  display: flex;
  flex-direction: column;
}
.freeBox__xw03 > :global(.__wab_flex-container) {
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw03 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xw03 > :global(.__wab_flex-container) > *,
  .freeBox__xw03 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xw03 > :global(.__wab_flex-container) > picture > img,
  .freeBox__xw03
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.h4__m13N5 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.p__p5Ds0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-_q3tvm-9LKj8);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .p__p5Ds0 {
    left: auto;
    top: auto;
  }
}
.button__jl0O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__iIUhm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.dataList:global(.__wab_instance) {
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.freeBox__kCsJc {
  position: relative;
  background: var(--token-NPlXTcG3C1iV);
  flex-direction: column;
  width: 100%;
  display: flex;
  min-width: 0;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid var(--token-Z2B_i9iprmSr);
}
.freeBox__kCsJc > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kCsJc > :global(.__wab_flex-container) > *,
.freeBox__kCsJc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kCsJc > :global(.__wab_flex-container) > picture > img,
.freeBox__kCsJc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__uoGjy {
  position: relative;
  top: auto;
  left: auto;
  display: flex;
  flex-direction: row;
}
.freeBox__uoGjy > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__uoGjy > :global(.__wab_flex-container) > *,
.freeBox__uoGjy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uoGjy > :global(.__wab_flex-container) > picture > img,
.freeBox__uoGjy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoGjy {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoGjy > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uoGjy > :global(.__wab_flex-container) > *,
  .freeBox__uoGjy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uoGjy > :global(.__wab_flex-container) > picture > img,
  .freeBox__uoGjy
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__fCC1 {
  display: flex;
  flex-direction: column;
}
.freeBox__fCC1 > :global(.__wab_flex-container) {
  flex-direction: column;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCC1 > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fCC1 > :global(.__wab_flex-container) > *,
  .freeBox__fCC1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__fCC1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__fCC1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.h4__cmLGc {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.p__h9XFt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  left: auto;
  top: auto;
  color: var(--token-_q3tvm-9LKj8);
  min-width: 0;
}
.button__yXqRk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.text__mcqIt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.positions:global(.__wab_instance) {
  object-fit: cover;
}
